<!DOCTYPE html>
<html lang ='en'>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/style.css">
        <title>This only shows in the browser tab</title>
    </head>
    <body>
                                     <!--<p>I can't wait for the next superbowl</p>
                                    <h2>Superbowl show today</h2>-->
        <div>

            {% block main %}

            <h1> This only shows in structure.html</h1>

            {% endblock main %}

        </div>
    </body>
</html>